body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
}

#box1:hover{
    background-color: purple;
}

#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation: box2move 5s infinite;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}

@keyframes box2move{
    0%   {top: 0px; background: red; width: 100px;}
    50% {top: 200px; background: khaki; width: 300px;}
    100% {top: 0px; background: red; width: 100px;}
}

